*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
#nav-menu{
    width: 100vw;
    /*height: 100vh;*/
}
.menu{
    height: 10vh;
    background-color: #0c3354;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}
nav{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
nav a{
    color: white;
    text-decoration: none;
}

.menu__nav__home{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-style: italic;
    margin-bottom: 20px;
    margin-right: 300px;

}
.menu__nav__items{
    height: 100%;
    display: flex;
    align-items: center;
}
.menu__nav__items a {
    margin-right:80px;


}
.menu__nav__add{
    height: 30px;
    width: 100%;
    background-color: white;
}
